body{width:95%;font-family:sans-serif;line-height:170%;padding-top:80px;}
a{text-decoration:none;}
a:not([href]){color:red!important;}
a:hover{text-decoration:underline;}

.main_menu_label{position:fixed;top:10px;left:10px;display:flex;height:50px;width:50px;justify-content:center;align-items:center;z-index:90;background-color:#444;border-radius:5px;}
.main_menu_label span,.main_menu_label span:before,.main_menu_label span:after{transition:300ms;content:'';display:block;height:2px;width:25px;border-radius:3px;background-color:#fff;position:absolute;}
.main_menu_label span:before{bottom:8px;}
.main_menu_label span:after{top:8px;}
#main_menu_trigger:checked~.main_menu_label span{transition:300ms;background-color:rgba(255,255,255,0);}
#main_menu_trigger:checked~.main_menu_label span::before{bottom:0;transition:300ms;transform:rotate(135deg);}
#main_menu_trigger:checked~.main_menu_label span::after{top:0;transition:300ms;transform:rotate(-135deg);}
#main_menu_trigger{display:none;}
.main_menu_list{position:fixed;width:300px;height:fit-content;top:70px;left:-100%;z-index:80;list-style:none;padding-left:20px;background-color:#eef;}
#main_menu_trigger:checked~.main_menu_list{left:0%;}
.main_menu p{position:fixed;margin:0;top:22px;left:80px;font-size:24px;font-family:serif;}

.container{display:flex;justify-content:center;}
.side_menu{margin:0 30px;width:20%;height:85vh;padding:5px;overflow-y:scroll;}
.side_menu ul{list-style:none;padding-left:20px;}
.document{width:75%;margin:0 30px;overflow-y:scroll;height:85vh;}
.document h1{font-size:32px;font-weight:500;border-bottom:solid 2px #888;padding-bottom:10px;margin:5px 0;}
.document h2{font-size:24px;font-weight:600;border-bottom:solid 1px #888;padding-bottom:10px;}
.document h3{font-size:20px;font-weight:600;}
.document h4{font-size:17px;font-weight:600;}
.document p{text-indent:1rem;}
.document .update_info{text-indent:0;font-size:14px;margin:2px 0;color:#888;border-bottom:solid 1px #888;}
.document .disambig{text-indent:0;font-size:14px;margin:5px 10px;padding:5px;border:1px solid #888;border-radius:5px;}

.infobox{border:solid 1px #888;margin:10px;float:right;clear:right;width:40%;border-collapse:collapse;font-size:88%;line-height:150%;}
.infobox th,.infobox td{border:solid 1px #888;}
.infobox thead th{font-size:17px;color:#fff;padding:2px 0;}
.infobox tbody th{width:25%;background:#f0f0f0;}
.infobox tbody td{width:75%;background:#fafafa;}

.undotted_list{list-style:none;padding-left:10px;}