<!doctype html>

<html lang="{{ site.lang | default: 'ja-JP' }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ '/assets/css/prmenu.css' | relative_url }}" />
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <!------------ メニューバー ------------->
  <script src="{{ '/assets/js/jquery-3.2.1.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/jquery.prmenu.min.js' | relative_url }}"></script>
  <script>
    $(document).ready(function () {
      $('#top-menu').prmenu();
    });
  </script>
  <ul id="top-menu">
    <li><a href="{{ '/' | relative_url }}">NineTales WIKI</a></li>
    <li><a href="{{'story/index' | relative_url}}">STORY</a>
      <ul>
        <li><a href="{{'/story/chapt1/index' | relative_url}}">CHAPTER I</a></li>
        <li><a href="{{'/story/chapt2/index' | relative_url}}">CHAPTER II</a></li>
        <li><a href="{{'/story/chapt3/index' | relative_url}}">CHAPTER III</a></li>
      </ul>
    </li>
    <li><a href="{{'/char/index'|relative_url}}">CHARACTERS</a>
      <ul>
        <li><a href="{{'/char/index#main' | relative_url}}">Main Members</a></li>
        <li><a href="{{'/char/index#dragons' | relative_url}}">Dragons</a></li>
        <li><a href="{{'/char/index#ninetales' | relative_url}}">Ninetales</a></li>
        <li><a href="{{'/char/index#gods' | relative_url}}">Gods</a></li>
        <li><a href="{{'/char/index#kallaios' | relative_url}}">Kallaios</a></li>
        <li><a href="{{'/char/index#galleians' | relative_url}}">Galleians</a></li>
        <li><a href="{{'/char/index#earthians' | relative_url}}">Earthians</a></li>
        <li><a href="{{'/char/index#friends' | relative_url}}">Friends</a></li>
        <li><a href="{{'/char/index#enemies' | relative_url}}">Enemies</a></li>
        <li><a href="{{'/char/index#others' | relative_url}}">Others</a></li>
      </ul>
    </li>
    <li><a href="{{'/settings/index'|relative_url}}">SETTINGS</a>
      <ul>
        <li><a href="#">WORLD</a></li>
        <li><a href="#">RACES</a></li>
        <li><a href="#">ITEMS</a></li>
      </ul>
    </li>
    <li><a href="#">WORDS</a></li>
  </ul>
  <!------------ メニューバー ------------->

  <div class="wrapper">
    <sidemenu>
      <ul>
        <li class="sidemenu"><a href="{{ '/' | relative_url }}">HOME</a></li>
        <li class="sidemenu"><a href="{{ '/story/index' | relative_url }}">STORY</a></li>
        <li class="sidemenu"><a href="{{ '/char/index' | relative_url }}">CHARACTERS</a></li>
        <li class="sidemenu"><a href="{{ '/settings/world/index' | relative_url }}">WORLDS</a></li>
      </ul>
    </sidemenu>
    <section>
      {{ content }}
    </section>
  </div>
</body>

</html>